.dashboard-content {
	padding: 24px;
}

.transactions-pix{
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 12px;
}

.transactions{
	grid-column: 1 / 1;
	margin: 10px 0px;
}

.pix {
	grid-column: 2 / 2;
	margin: 10px 0px;
}

@media (max-width: 768px) {
	.transactions-pix {
		grid-template-columns: 100%;
	}

	.pix {
		grid-column: 1;
		grid-row: 2;
	}
}