.rest-balances {
	overflow-x: auto;
	margin-left: 15px;
}

.header{
	display: flex;
	justify-content: space-between;
}

.scroll{
	width: max-content;
	display: flex;
}

.see-all {
	display: flex;
	justify-content: flex-end;
	margin: 5px 0px;
}

.rest-card {
	min-width: 150px;
	margin: 0px 10px 15px 0px;
}

.balance {
	display: flex;
	width: 100%;
}

.first-balance {
	flex-grow: 2;
}

.rest-balances{
	flex-grow: 3;
}

@media (max-width: 768px) {
	.balance {
		flex-direction: column;
	}

	.first-balance, .rest-balances {
		flex-grow: 1;
	}

	.rest-balances {
		margin: 15px 0px;
	}
}