.pix-management-content {
	padding: 24px;
}

.pix-create-card-form{
	display: flex;
	flex-direction: column;
}

.create-key{
	display: flex;
	justify-content: flex-end;
}

.pix-keys-create{
	display: grid;

	grid-template-columns: 50% 50%;
	column-gap: 10px;
	row-gap: 10px;
}

.pix-create{
	grid-column: 2;
	grid-row: 1;
}

.pix-keys {
	grid-column: 1;
	grid-row: 1;
}

@media (max-width: 768px) {
	.pix-keys-create {
		grid-template-columns: 100%;
	}

	.pix-keys {
		grid-row: 2;
		grid-column: 1;
	}

	.pix-create {
		grid-column: 1;
	}
}

